<html>
    <head>
        <title>КМПО</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="leaflet-ruler.css"/>
        <link rel="stylesheet" href="leaflet.groupedlayercontrol.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
        <script src="bingLayer.js"></script>
        <script src="mousePosition.js"></script>
        <script src="leaflet-ruler.js"></script>
        <script src="leaflet.groupedlayercontrol.min.js"></script>
        <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
     </head>
    <body>
        <div id="app">
            <div id="map">
                <i v-if="!openPanel" class="leaflet-bar fa fa-calendar fa-3x open-button clickable" aria-hidden="true" @click="openPanel = true"></i>
                <transition name="fade">
                    <filter-panel v-if="openPanel" :class="{ 'filter-panel__open': openPanel, 'filter-panel__closed': !openPanel }" :filters-data="filtersData" :default-filters="userFilters" v-on:update="updateFilter" v-on:close="openPanel = false"></filter-panel>
                </transition>
            </div>
        </div>       
    </body>
</html>
<script src="app.js"></script>