<html>

<head>
    <title>КМПО</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <!-- <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/flatpickr.min.css">
    <link rel="stylesheet" href="assets/css/leaflet.css">
    <link rel="stylesheet" href="assets/css/leaflet-ruler.css">
    <link rel="stylesheet" href="assets/css/leaflet.groupedlayercontrol.min.css"> -->
    <link rel="stylesheet" href="assets/css/libs.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="assets/js/libs.min.js"></script>
    <!-- <script src="assets/js/flatpickr.js"></script>
    <script src="assets/js/ru.js"></script>
    <script src="assets/js/leaflet.js"></script>
    <script src="assets/js/bingLayer.js"></script>
    <script src="assets/js/mousePosition.js"></script>
    <script src="assets/js/leaflet-ruler.js"></script>
    <script src="assets/js/leaflet.groupedlayercontrol.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="assets/js/vue.min.js"></script> -->
    <!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> -->
</head>

<body>
    <div id="app">
        <div id="map">
            <i v-if="!openPanel" class="leaflet-bar fa fa-calendar fa-3x open-button clickable" aria-hidden="true" @click="openPanel = true"></i>
            <transition name="fade">
                <filter-panel v-if="openPanel" :class="{ 'filter-panel__open': openPanel, 'filter-panel__closed': !openPanel }" :filters-data="filtersData"
                    :default-filters="userFilters" v-on:update="updateFilter" v-on:close="openPanel = false"></filter-panel>
            </transition>
        </div>
    </div>
</body>

</html>
<script type="text/x-template" id="filter-panel-component">
    <div class="filter-panel leaflet-bar" id="filterPanel">
        <div class="tabs-container">
            <button @click="showDate = true" class="tab-button clickable" :class="{ 'active': showDate }">Время</button>
            <button @click="showDate = false" class="tab-button clickable" :class="{ 'active': !showDate }">Фильтры</button>
            <i @click="closePanel" class="fa fa-times fa-2x close-button clickable" aria-hidden="true"></i>
        </div>
        <div v-show="showDate">
            <div v-show="datePanel=='date'">
                <div class="calendar-container">
                    <input @change="updateDate" class="calendar">
                    <i @click="openCalendar" class="fa fa-calendar fa-2x clickable" aria-hidden="true" data-calendar="0"></i>
                    <button 
                        @click="changeDay" 
                        :disabled="isDisabled" 
                        class="calendar-control clickable"
                        :class="{ 'disabled': isDisabled }"><i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <button 
                        @click="changeDay" 
                        class="calendar-control clickable"><i class="fa fa-minus" aria-hidden="true"></button>
                    <input @change="updateDate" class="timepicker" value="00:00">
                    <input class="timepicker" value="23:59">
                </div>
            </div>
            <div v-show="datePanel=='dates'">
                <div class="calendar-container">
                    <label>от</label>
                    <input @change="updateDates" class="calendar">
                    <i @click="openCalendar" 
                        class="fa fa-calendar fa-2x clickable" 
                        aria-hidden="true" 
                        data-calendar="1"></i>
                    <input @change="updateDates" class="timepicker" value="00:00">
                    <label>до</label>
                    <input @change="updateDates" class="calendar">
                    <i @click="openCalendar" 
                        class="fa fa-calendar fa-2x clickable" 
                        aria-hidden="true" 
                        data-calendar="2"></i>
                    <input @change="updateDates" class="timepicker" value="00:00">
                </div>
            </div>
            <div class="filter-radiobuttons">
                <div>
                    <input id="date" type="radio" value="date" v-model="datePanel">
                    <label for="date">Отобразить данные за дату</label>
                </div>
                <div>
                    <input id="dates" type="radio" value="dates" v-model="datePanel">
                    <label for="dates">Отобразить данные за период</label>
                </div>
            </div>
        </div>
        <div v-show="!showDate">
        <div class="content">
        <div class="row">
        <div class="filter-section col-1-of-2">
        <p>Достоверность</p>
        <template v-for="(item,index) in filtersData.confidences">
            <div class="checkbox-div">
                <div class="toggle">
                    <input 
                        @change="updateFilter" 
                        type="checkbox" 
                        class="checkbox" 
                        :value="index" 
                        :name="item" 
                        :id="'confidence-option-'+index" 
                        v-model="filters.confidence_user" 
                        :disabled="filters.confidence_user.length == min && index == filters.confidence_user[0]">
                    <label :for="'confidence-option-'+index"></label>
                </div>
                <div class="toggle">{{ item }}</div>
            </div>
        </template>
        </div>
        <div class="filter-section col-1-of-2">
        <p>Источник</p>
        <template v-for="(item,index) in filtersData.sources">
            <div class="checkbox-div">
                <div class="toggle">
                    <input 
                        @change="updateFilter" 
                        type="checkbox" 
                        class="checkbox" 
                        :value="index" 
                        :id="'source-option-'+index" 
                        v-model="filters.source" 
                        :disabled="filters.source.length == min && index == filters.source[0]">
                    <label :for="'source-option-'+index"></label>
                </div>
                <div class="toggle">{{ item }}</div>
            </div>
        </template>
        </div>
        </div>
        <div class="row">
        <div class="filter-section col-1-of-2">
        <p>Площадь</p>
        <template v-for="(item,index) in filtersData.areas">
            <div class="checkbox-div">
                <div class="toggle">
                    <input 
                        @change="updateFilter" 
                        type="checkbox" 
                        class="checkbox" 
                        :value="index" 
                        :name="item" 
                        :id="'area-option-'+index" 
                        v-model="filters.area" 
                        :disabled="filters.area.length == min && index == filters.area[0]">
                    <label :for="'area-option-'+index"></label>
                </div>
                <div class="toggle">{{ item }}</div>
            </div>
        </template>
        </div>
        <div class="filter-section col-1-of-2">
        <p>Спутник</p>
        <template v-for="(item,index) in filtersData.satellites">
            <div class="checkbox-div">
                <div class="toggle">
                    <input 
                        @change="updateFilter" 
                        type="checkbox" 
                        class="checkbox" 
                        :value="index" 
                        :id="'satellite-option-'+index" 
                        v-model="filters.satellite" 
                        :disabled="filters.satellite.length == min && index == filters.satellite[0]">
                    <label :for="'satellite-option-'+index"></label>
                </div>
                <div class="toggle">{{ item }}</div>
            </div>
        </template>
        </div>
        </div>
        </div>
        </div>
        </div>
</script>
<script src="app.min.js"></script>